// About page
// ------------------------------

.page.page-about > .content {
    > .top-banner.global-title {
        > p > b {
            color: map-get($color, 'purple-dark');
            font-weight: 600;
        }

        > .links {
            @include full-width;

            text-align: center;
            padding-top: 50px;

            > a {
                @include font-size(18px);
                @include link-backbar($hover-only: false, $col: map-get($color, 'purple-dark'));

                display: inline-block;
                margin-right: 30px;
                line-height: 30px;
                color: #fff;
                transition: 200ms ease-in-out color;
            }
        }
    }

    > .skill {
        @include full-width;
        
        position: relative;
        padding: 100px 0 50px 0;
        margin-bottom: 100px;

        @media screen and (max-width: $page-m) {
            padding: 50px 0;
        }

        &::after {
            content: '';
            background-color: map-get($color, 'grey-lighter');
            top: 0;
            left: 0;
            width: calc(50vw + #{$page-size}/2);
            bottom: 0;
            position: absolute;
            z-index: 0;
            border-radius: 20px 0 0 20px;
            transition: $ms-slow all ease-in-out;

            @media screen and (max-width: $page-l) {
                left: 70px;
            }

            @media screen and (max-width: $page-m) {
                left: 0;
                right: 0;
                border-radius: 20px;
                width: 100%;
                border-radius: 0;
            }
        }

        > .technos {
            float: right;
            width: calc(100% - 100px);

            @media screen and (max-width: $page-m) {
                width: calc(100% - 40px*2);
                margin-right: 40px;
            }

            > h1 {
                @include small-title(map-get($color, 'purple-darkest'));

                margin: 0 0 30px 0;
            }

            > .cases {
                @include full-width;

                margin-bottom: 50px;

                @media screen and (max-width: $page-m) {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                > .case {
                    float: left;
                    background: map-get($color, 'grey-light');
                    width: calc(100%/6 - 5px);
                    min-width: 150px;
                    margin-right: 5px;
                    margin-top: 5px;
                    text-align: center;
                    border-radius: 6px;
                    padding: 10px 0;

                    @media screen and (max-width: 871px), screen and (max-width: 1151px) {
                        width: calc(100%/4 - 5px);
                    }

                    @media screen and (max-width: 997px) {
                        width: calc(100%/3 - 5px);
                    }

                    @media screen and (max-width: 580px) {
                        width: calc(100%/2 - 5px);
                    }

                    @media screen and (max-width: 420px) {
                        width: calc(100% - 5px);
                    }

                    > .top {
                        @include full-width;

                        height: 116px;

                        > img {
                            margin-top: calc((120px - 70px)/2);
                            max-height: 70px;
                        }
                    }

                    > span,
                    > i {
                        @include full-width;
                    }

                    > span {
                        color: map-get($color, 'grey-darkest');
                        font-size: 16px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    > i {
                        font-size: 12px;
                        color: darken(map-get($color, 'grey-base'), 50);
                        font-style: normal;
                        margin-bottom: 20px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    
    > .parcours > .center {
        @include full-width;

        padding-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        > .certification {
            margin-left: 50px;
            float: left;
            height: 200px;
            background-color: map-get($color, 'yellow-light');
            border-radius: 10px;
            margin-bottom: 50px;
            padding: 0 30px;

            @media screen and (min-width: $page-l) {
                width: calc((100%/3) - 50px + 50px/3);

                &:nth-child(3n+1) {
                    margin-left: 0;
                }
            }

            @media screen and (max-width: $page-l) {
                width: calc((100%/2) - 50px + 50px/2);

                &:nth-child(2n+1) {
                    margin-left: 0;
                }
            }

            @media screen and (max-width: $page-s) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 10px;
            }

            > .background {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;    
                background-image: image('lys.png');
                background-size: auto 50%;
                background-position: center center;
                background-repeat: no-repeat;
                opacity: 0.08;
                z-index: -1;

                > i {
                    line-height: 200px;
                    text-align: center;
                    width: 100%;
                    z-index: -1;
                    font-size: 40px;
                }
            }

            > .text {
                text-align: center;
                top: 50%;
                float: left;
                width: 100%;
                transform: translateY(-50%);

                > span {
                    @include full-width;

                    font-size: 16px;
                    text-transform: uppercase;

                    &.name {
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}