// Normalize
// ------------------------------

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: map-get($color, 'indigo-darkest');
    font-weight: 500;
    font-size: 16px;
    position: relative;
    z-index: 3;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

body {
    height: 100%;
}

a, [href], button, input[type="submit"], .btn {
    text-decoration: none;
    cursor: pointer;
}

// Application
// ------------------------------ 

.application {
    @include full-width;
    
    margin-top: 80px;
    position: relative;

    > header {
        @include full-width;

        position: absolute;
        top: -80px;
        left: 0;
        z-index: 999;
        background-color: transparent;
        transition: 300ms ease-in-out box-shadow, 300ms ease-in-out background-color;

        &.transitionnable {
            position: fixed;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            transition: 300ms ease-in-out box-shadow, 300ms ease-in-out top;
            background-color: #fff;
        }

        &.fixed {
            position: fixed;
            top: 0;
            transition: 300ms ease-in-out box-shadow, 300ms ease-in-out top;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        > .navigation {
            @include inner-width;

            a {
                height: 80px;
                line-height: 80px;
                float: left;
                font-weight: 600;
                transition: 200ms ease-in-out all;

                &.left {
                    font-size: 18px;
                    float: left;
                    font-weight: 700;
                }

                &.selected {
                    color: map-get($color, 'purple-dark');
                }
            }

            > .right {
                float: right;
                height: 80px;

                > a {
                    margin-left: 40px;
                }
            }
        }
    }

    .page {
        @include full-width;

        > .content {
            @include inner-width;
        }
    }

}

// Global components
// ------------------------------

.global-title {
    @include full-width;

    padding: 150px 0;

    > h2 {
        @include full-width;
        @include ttl;
        @include font-size(45px);

        font-weight: 900;
        text-align: center;
        text-transform: uppercase;

        &::after {
            @include font-size(100px);

            content: attr(data-content);
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            transform: translateY(-25%);
            opacity: 0.1;
        }
    }

    > p {
        @include inner-width(600px, false);

        padding-top: 70px;
        text-align: center;
    }
}