// Accueil
// ------------------------------ 

$c: map-get($color, 'purple-dark');

.page.page-home {
    > .middle {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: calc(100vh - 80px);
        padding-top: 80px;

        > .content {
            @include inner-width;

            top: calc(50% - 80px/2);
            transform: translateY(-50%);

            > .iam {
                @include full-width;

                > span, ul > li {
                    @include ttl;

                    clear: both;
                    float: left;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 40px;
                    height: 60px;
                    line-height: 60px;
                }

                > .list {
                    float: left;
                    height: 60px;
                    overflow-y: hidden;

                    > ul {
                        margin-top: 0;
                        animation: 5s 1s linear top infinite;

                        > li {
                            clear: both;
                            float: left;
                            color: $c;

                            &::before {
                                content: ' ';
                            }
                        }
                    }
                }
            }

            > p {
                @include full-width;

                width: 70%;
                margin: 40px 0 50px 0;
            }

            > a {
                @include link-backbar($hover-only: false, $col: $c);

                line-height: 40px;
                float: left;
                clear: both;
                color: #fff;
                padding: 0 10px;
                font-weight: 500;
            }
        }

        > .me {
            position: absolute;
            right: 0px;
            bottom: 0px;
            z-index: 999;
            width: 1224px;
            height: 100vh;
            z-index: -1;
            opacity: 0.3;
            background-image: image('moi.jpg');
            background-repeat: no-repeat;
            background-position: center right;
            background-size: cover;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 30%;
                bottom: 0;
                top: 0;
                background-image: linear-gradient(to right, #fff, transparent);
            }
        }
    }
}

@keyframes top {
    $words: 4;
    $w: 100/$words;
    $i: 0;
    $s: 0;

    @while $i <= 100 {
        @if ($i >= 100) {
            $i: 95;
        }

        #{$i}%, #{$i+5}% {
            margin-top: -#{$s}px;
        }

        $i: $i+$w;
        $s: $s+60;
    }
}