// Stages
// ------------------------------ 

.page.page-interns > .content {

   > .items {
        @include full-width;

        padding-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        > .intern {
            margin-left: 50px;
            float: left;
            height: 200px;
            background-color: map-get($color, 'yellow-light');
            border-radius: 10px;
            margin-bottom: 50px;
            padding: 0 30px;
            cursor: pointer;

            @media screen and (min-width: $page-l) {
                width: calc((100%/3) - 50px + 50px/3);

                &:nth-child(3n+1) {
                    margin-left: 0;
                }
            }

            @media screen and (max-width: $page-l) {
                width: calc((100%/2) - 50px + 50px/2);

                &:nth-child(2n+1) {
                    margin-left: 0;
                }
            }

            @media screen and (max-width: $page-s) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 10px;
            }

            > a {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 999;
            }

            > .background {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;    
                background-image: image('lys.png');
                background-size: auto 50%;
                background-position: center center;
                background-repeat: no-repeat;
                opacity: 0.08;
                z-index: -1;

                > i {
                    line-height: 200px;
                    text-align: center;
                    width: 100%;
                    z-index: -1;
                    font-size: 40px;
                }
            }

            > .text {
                text-align: center;
                top: 50%;
                float: left;
                width: 100%;
                transform: translateY(-50%);

                > span {
                    @include full-width;

                    font-size: 16px;
                    text-transform: uppercase;

                    &.name {
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
                }
            }
        }
   }
}