// Laboratoire
// ------------------------------ 

.page.page-lab > .content {
    
    > .top-banner {
        > .categories {
            @include full-width;

            text-align: center;
            padding-top: 70px;

            > a {
                @include font-size(18px);

                display: inline-block;
                margin-right: 30px;
                color: map-get($color, 'grey-darker');
                line-height: 30px;

                &.selected {
                    @include link-backbar($hover-only: false, $col: map-get($color, 'purple-dark'));
                    
                    color: #fff!important;
                }

                &.selected,
                &:hover {
                    color: map-get($color, 'grey-black');
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    > .items {
        @include full-width;

        > .item {
            $ipl: 2;

            float: left;
            width: calc(100%/#{$ipl} - 50px/2);
            margin-left: 50px;
            margin-bottom: 50px;
            border-radius: 6px;
            opacity: 0.1;
            overflow: hidden;

            &.visible {
                opacity: 1;
            }

            &:nth-child(#{$ipl}n+1) {
                margin-left: 0;
            }

            &::before {
                content: '';
                display: block;
                margin-top: 65%;
            }

            > a {
                position: absolute;
                z-index: 999;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            > .screens {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                overflow: hidden;
                border-radius: 6px;
                filter: blur(0%);
                transition: 300ms 300ms ease-in-out top, 300ms 300ms ease-in-out filter;

                img {
                    width: 100%;
                    border-radius: 6px;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                }

                > .desktop {
                    width: 70%;
                    position: absolute;
                    top: 20%;
                    left: 15%;
                    right: 15%;
                }

                > .mobile {
                    position: absolute;
                    top: 35%;
                    width: 30%;
                    right: 10%;
                }
            }

            > .logo {
                height: 50%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                padding: 0 15%;
                text-align: center;
                opacity: 0;
                transition: 300ms ease-in-out opacity;
                
                > h2 {
                    @include font-size(50px);
                    @include ttl;

                    text-transform: uppercase;
                    font-weight: 600;
                    top: 50%;
                    transform: translateY(-50%);
                    color: map-get($color, 'grey-lighter');
                }
            }

            &:hover {
                > .screens {
                    top: 50%;
                    filter: blur(5px);
                    transition: 300ms ease-in-out top, 300ms ease-in-out filter;
                }

                > .logo {
                    opacity: 1;
                    transition: 300ms 300ms ease-in-out opacity;
                }
            }
        }
    }

}