// Project
// ------------------------------ 

.page.page-project > .content {

    &.grey {
        @include full-width(true);
        
        background-color: map-get($color, 'grey-lighter');
    }

    > .colors {
        @include full-width;

        background-color: map-get($color, 'grey-lighter');
        height: 4px;

        > .content {
            @include inner-width;

            margin-top: -4px;
            display: flex;
            flex-flow: row wrap;
            border-radius: 6px;
            overflow: hidden;

            > .co {
                height: 8px;
                flex: 1 1 0;
            }
        }
    }

    > .top-banner {
        @include full-width;

        padding: 150px 0 100px 0;

        > h2 {
            @include full-width;
            @include ttl;
            @include font-size(45px);

            font-weight: 900;
            text-align: center;
            text-transform: uppercase;

            &::after {
                @include font-size(100px);

                content: attr(data-content);
                position: absolute;
                z-index: -1;
                left: 0;
                right: 0;
                transform: translateY(-25%);
                opacity: 0.1;
            }
        }

        > .button {
            @include full-width;

            text-align: center;
            padding-top: 50px;

            > a {
                @include font-size(18px);
                @include link-backbar($hover-only: false, $col: map-get($color, 'purple-dark'));

                display: inline-block;
                margin-right: 30px;
                line-height: 30px;
                color: #fff;
                transition: 200ms ease-in-out color;
            }
        }
    }

    > .screens {
        float: left;
        width: 100%;
        height: 800px;
        overflow: hidden;
        margin-bottom: 80px;
        
        > .arrow {
            position: absolute;
            z-index: 999;
            top: calc(50% - 40px/2);
            height: 40px;
            width: 35px;
            cursor: pointer;
            opacity: 1;
            transition: 200ms ease-in-out opacity;
            
            &.disabled {
                opacity: 0.2;
            }

            &.left {
                left: calc((50% - #{$page-size}/2) - 80px);

                &::after {
                    transform: rotate(-28deg);
                    transform-origin: top left;
                }

                &::before {
                    transform: rotate(28deg);
                    transform-origin: bottom left;
                }
            }

            &.right {
                left: calc((50% + #{$page-size}/2) + 40px);

                &::after {
                    transform: rotate(28deg);
                    transform-origin: top right;
                }

                &::before {
                    transform: rotate(-28deg);
                    transform-origin: bottom right;
                }
            }

            &::after, &::before {
                content: '';
                width: 40px;
                height: 5px;
                background: map-get($color, 'indigo-darkest');
                position: absolute;
                border-radius: 6px;
                top: calc(50% - 5px);
            }

            &::before {
                top: calc(50% - 7px);
            }
        }

        > .slider {
            float: left;
            margin-left: calc(50% - #{$page-size}/2);
            display: flex;
            transition: 400ms linear margin-left;

            > .screen {
                flex-shrink: 0;
                float: left;
                margin-right: 40px;
                border-radius: 10px;
                overflow: hidden;
                height: 800px;
                width: $page-size;
                opacity: 0.2;
                transition: 400ms ease-in-out opacity;

                &.selected {
                    opacity: 1;
                }

                > .device-frame.desktop {
                    overflow: hidden;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;

                    > img {
                        @include full-width;
    
                        height: 800px;
                        width: 100%;
                        border-radius: 6px;
                        object-fit: cover;
                        object-position: top;
                        transition: 2s ease-in-out object-position;
                    }
                }

                > .device-frame.mobile {
                    background-color: map-get($color, 'grey-lighter');
                    box-shadow: 0 0 0 10px map-get($color, 'grey-lighter'), 0 0 40px rgba(0, 0, 0, 0.5);
                    position: absolute;
                    right: 80px;
                    top: 80px;
                    height: 800px-80px*2;
                    border-radius: 6px;
                    overflow: hidden;
                    width: 30%;

                    > img {
                        @include full-width;
    
                        height: 800px;
                        width: 100%;
                        border-radius: 6px;
                        object-fit: cover;
                        object-position: top;
                        transition: 1s ease-in-out object-position;
                    }
                }

                > .device-frame:hover > img {
                    object-position: bottom;
                }
            }
        }
    }

    > .technologies {
        @include inner-width(800px);

        margin-bottom: 50px;
        text-align: center;

        > .techno {
            display: inline-block;
            background-color: map-get($color, 'grey-lighter');
            width: calc(100%/5 - 5px);
            min-width: 160px;
            margin-right: 5px;
            margin-top: 5px;
            text-align: center;
            border-radius: 6px;
            padding: 10px 0 20px 0;

            > .top {
                @include full-width;

                height: 116px;

                > img {
                    margin-top: calc((120px - 70px)/2);
                    max-height: 70px;
                    max-width: calc(100% - 40px);
                }
            }

            > span {
                @include full-width;
                
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                color: darken(map-get($color, 'grey-light'), 50);
            }
        }
    }

}