// Swup
// ------------------------------ 

.transition-fade {
    transition: 0.3s ease-in-out all;
    opacity: 1;
    transform: translateY(0);
    
    &.td {
        @for $i from 1 through 20 {
            &.td#{$i} {
                transition-delay: #{$i*100}ms;
            }
        }
    }
}

html.is-animating .transition-fade {
    opacity: 0!important;
    transform: translateY(-50px)!important;
}

html.is-leaving .transition-fade {
    transition-delay: 0s!important;
    transform: translateY(0)!important;
}