// Bandera
// ------------------------------ 

@font-face {
    font-family: 'Bandera Pro';
    src: url('#{$webfonts-path}bandera-pro/banderapro-webfont.woff2') format('woff2'),
        url('#{$webfonts-path}bandera-pro/banderapro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bandera Pro';
    src: url('#{$webfonts-path}bandera-pro/banderapro-bold-webfont.woff2') format('woff2'),
        url('#{$webfonts-path}bandera-pro/banderapro-bold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Bandera Pro';
    src: url('#{$webfonts-path}bandera-pro/banderapro-bolditalic-webfont.woff2') format('woff2'),
        url('#{$webfonts-path}bandera-pro/banderapro-bolditalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Bandera Pro';
    src: url('#{$webfonts-path}bandera-pro/banderapro-italic-webfont.woff2') format('woff2'),
        url('#{$webfonts-path}bandera-pro/banderapro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}