// Open-sans
// ------------------------------ 

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('#{$webfonts-path}open-sans/open-sans-v15-latin-300.eot');
    src: local('Open Sans Light'), local('OpenSans-Light'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-300.woff2') format('woff2'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-300.woff') format('woff'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-300.ttf') format('truetype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-300.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('#{$webfonts-path}open-sans/open-sans-v15-latin-regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-regular.woff2') format('woff2'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-regular.woff') format('woff'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-regular.ttf') format('truetype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-regular.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('#{$webfonts-path}open-sans/open-sans-v15-latin-300italic.eot');
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-300italic.eot?#iefix') format('embedded-opentype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-300italic.woff2') format('woff2'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-300italic.woff') format('woff'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-300italic.ttf') format('truetype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-300italic.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('#{$webfonts-path}open-sans/open-sans-v15-latin-italic.eot');
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-italic.eot?#iefix') format('embedded-opentype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-italic.woff2') format('woff2'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-italic.woff') format('woff'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-italic.ttf') format('truetype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-italic.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('#{$webfonts-path}open-sans/open-sans-v15-latin-700.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-700.woff2') format('woff2'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-700.woff') format('woff'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-700.ttf') format('truetype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-700.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('#{$webfonts-path}open-sans/open-sans-v15-latin-600italic.eot');
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-600italic.eot?#iefix') format('embedded-opentype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-600italic.woff2') format('woff2'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-600italic.woff') format('woff'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-600italic.ttf') format('truetype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-600italic.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('#{$webfonts-path}open-sans/open-sans-v15-latin-600.eot');
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-600.woff2') format('woff2'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-600.woff') format('woff'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-600.ttf') format('truetype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-600.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('#{$webfonts-path}open-sans/open-sans-v15-latin-700italic.eot');
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-700italic.eot?#iefix') format('embedded-opentype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-700italic.woff2') format('woff2'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-700italic.woff') format('woff'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-700italic.ttf') format('truetype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-700italic.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('#{$webfonts-path}open-sans/open-sans-v15-latin-800.eot');
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-800.eot?#iefix') format('embedded-opentype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-800.woff2') format('woff2'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-800.woff') format('woff'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-800.ttf') format('truetype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-800.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('#{$webfonts-path}open-sans/open-sans-v15-latin-800italic.eot');
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-800italic.eot?#iefix') format('embedded-opentype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-800italic.woff2') format('woff2'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-800italic.woff') format('woff'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-800italic.ttf') format('truetype'),
         url('#{$webfonts-path}open-sans/open-sans-v15-latin-800italic.svg#OpenSans') format('svg');
}