@function image($name) {
    @return url(#{$images-path}#{$name});
}

@function str-split($string, $separator) {
    $split-arr: ();
    $index: str-index($string, $separator);
    
    @while $index != null {
        $item: str-slice($string, 1, $index - 1);
        $split-arr: append($split-arr, $item);
        $string: str-slice($string, $index + 1);
        $index : str-index($string, $separator);
    }
    
    $split-arr: append($split-arr, $string);

    @return $split-arr;
}

@function rand-specific-color-variation($variation) {
    $keys: map-keys($color);
    $values: ();

    @each $key in $keys {
        $split-key: str-split($key, '-');

        @if (nth($split-key, 2) == 'lighter') {
            $values: append($values, $key);
        }
    }

    @return nth($values, random(length($values)));
}