@mixin full-width($inner-disable: false) {
    width: 100%;
    float: left;
    clear: both;

    @if ($inner-disable == true) {
        max-width: 100%;
        margin-left: 0;
    }
}

@mixin inner-width($mw: #{$page-size}, $transition: 'true') {
    width: 100%;
    max-width: $mw;
    float: left;
    clear: both;
    margin-left: calc(50% - #{$mw}/2);

    @if ($transition == 'true') {
        transition: 200ms ease-in-out padding;
    }

    @media screen and (max-width: #{$mw}) {
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@mixin link-backbar ($hover-only: true, $col: map-get($color, rand-specific-color-variation('lighter')), $down: false) {
    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        bottom: -2px;
        background-color: $col;
        transform: rotate(-1deg);
        border-radius: 6px;

        @if ($down == true) {
            height: 4px;
            left: 0px;
            right: 0px;
            transition: 200ms ease-in-out all;
        } @else {
            top: -2px;
            left: -10px;
            right: -10px;
        }

        @if ($hover-only == true) {
            opacity: 0;
            transition: 200ms ease-in-out opacity;
        }
    }

    @if ($hover-only == true) {
        &:hover::after {
            opacity: 1;
        }
    }
}

@mixin ttl {
    font-family: 'Bandera Pro', Arial, Helvetica, sans-serif;
}

@mixin font-size ($size: 16px) {
    line-height: $size;
    font-size: $size;
}

@mixin small-title($color: #fff, $centered: false) {
    @include full-width;

    color: $color;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;

    &:after {
        $size: 100px;

        content: '';
        position: absolute;
        height: 2px;
        width: $size;
        bottom: -5px;
        background: rand-specific-color-variation('lighter');

        @if ($centered == false) {
            left: 0;
        } @else {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}