// Variables
// ------------------------------ 

$assets-path: "../";
$images-path: $assets-path + "images/";
$webfonts-path: $assets-path + "webfonts/";
$fa-font-path: $webfonts-path + 'font-awesome';

$page-size: 1100px;
$page-l: $page-size + 30px*2;
$page-m: 800px;
$page-s: 600px;

$ms-slow: 400ms;
$ms-normal: 200ms;
$ms-fast: 100ms;

$router-link-active: "router-link-exact-active.router-link-active";